main {
  width: 100%;
  display: flex;
  flex-direction: column;
}
a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: #000;
}

button {
  color: #fff;
  background-color: #3298dc;
  border-color: transparent;
  cursor: pointer;
  text-align: center;
}

button:hover {
  background-color: #2793da;
  flex: none;
}

#charts {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.spacer {
  flex: auto;
}

.small {
  font-size: 0.75rem;
}

.header-label {
  margin-right: 4px;
}

.benchmark-set {
  margin: 8px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.benchmark-title {
  font-size: 3rem;
  font-weight: 600;
  word-break: break-word;
  text-align: center;
}

.benchmark-graphs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.benchmark-chart {
  max-width: 1000px;
}